@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

.tryby {
    background-color: white;
    display: flex;
    margin:3%;
    width:25%;
    align-items:center;
    flex-direction: column;
    border: 1px  solid black;
    border-radius: 5px;
    padding:3%;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
     transition: width 2s;
}

.name {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:4rem;
    text-align:center;
}
.tsentr {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:2rem;
    text-align: center;
    margin-top:0;
    margin-bottom:0;

}



.tryby:hover {
    width: 35%;
  }


body {
    background-image: url('../wallp.jpg');
    background-size: cover;
}

.ikonka {
    color: #9ac5d2;
}

#icons {
    text-align:center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
