.container {
    display: flex;
    flex-direction: row;
    position: center;
}
.column {
    display: flex;
    flex-direction: column;
}

body {
    background-color: sandybrown;
}

.home {
    width: 100px;
    height: 200px;
    background-color: bisque;
    border: 1px solid black;
}

.column div {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid black;
}
/*.row div {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: bisque;*/
/*    border: 1px solid black;*/


/*}*/



