<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Strona 1</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../static/css/pageOne.css">

</head>

<body>
  <h1 class="name"> KALAHA </h1>
  <h2 class="tsentr"> Wybierz tryb rozgrywki </h2>
  <div class="diva">
         <a class="tss" href="/rules">Game rules</a>
  </div>

  <div id="icons">
      <div class="tryby">
        <a href="/register"><i class="ikonka fas fa-gamepad fa-10x"></i>Hot-seat</a>

      </div>
      <div class="tryby">
        <a href="/computer"><i class="ikonka fas fa-mask fa-10x"></i>Computer</a>

      </div>
  </div>


  <script src="https://kit.fontawesome.com/f6140ca2bf.js" crossorigin="anonymous"></script>

</body>
</html>